.home {
    height: 100%;
    width: 100%;
    background-color: bisque;
}

.home .catalogue {
    display: flex;
    height: 600px;
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    overflow-y: auto;
}