.home {
    height: 100%;
    width: 100%;
    background-color: bisque;
}

.home .catalogue {
    display: flex;
    height: 600px;
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    overflow-y: auto;
}

.home .search-bar {
    margin-left: 250px;
}

.home .right-action-btns {
    position: absolute;
    right: 15px;
}

.home .right-action-btns .action-btn {
    color: white;
    margin: 0 5px 0 5px;
}